@font-face {
    font-family: 'ChosunCentennial';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/ChosunCentennial.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('img/bg2.png');
    color: rgb(0, 0, 0);
}

.container .header{
    width: 80%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .header img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}

.container .header h1 a{
    text-decoration: none;
    color: white;
    font-family: abster;
}

.container .nav ul li{
    display: inline-block;
    margin: 0 10px;
    padding-top: 7%;
    font-family: 'ChosunCentennial';
}

.container .nav ul li a{
    text-decoration: none;
    color: white;
}

.container .nav ul li a:hover{
    color: #1fdfdf;
}

.box1{
    width: 50%; 
    height: 50%;
    margin: 0 auto;
    margin-top: 6%;
    border: 1px solid #ffffff;
    padding: 80px 30px 30px 40px;
    background: url('img/paper.jpg');
}

.box1 .g{
    font-family: 'ChosunCentennial';
    font-size: 130%;
    font-weight: 400;
}

.box1 .a{
    font-family: 'ChosunCentennial';
    font-size: 85%;
    font-weight: 700;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px 0;
    font-family: 'ChosunCentennial';
}
